<!-- Grid -->
<div class="w3-row">

  <!-- Form -->
  <div class="w3-col l8 s12">

    <div class="w3-card-4 w3-margin w3-white">
      <div class="w3-container">

        <%= form_with model: article do |form| %>
          
          <div>
            <%= form.label :status %><br>
            <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
          </div>
            
          <div>
            <%= form.label :title %><br>
            <%= form.text_field :title %>
            <% article.errors.full_messages_for(:title).each do |message| %>
              <div><%= message %></div>
            <% end %>
            </div>
          
          <div>
            <%= form.label :title_description %><br>
            <%= form.text_field :title_description %>
            <% article.errors.full_messages_for(:title_description).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
          
          <div>
            <%= form.label :body %><br>
            <%= form.text_area :body, cols: 90 %>
            <% article.errors.full_messages_for(:body).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>  

          <!-- uplouad file przetestować z forma - picture:string (looool) - string ponieważ:
          ponieważ jest tam trzymana ścieżka lokalna (lub do serwera) z plikiem -->

          <!-- t.datetime :submits_time, default: Time.current, null: false -->

          <!-- lol - gem shrine lub może carrierwave -->

          <div>
            <%= form.file_field :picture %>
          </div>
          
          <div>
            <%= article.submits_time %>
          </div>
            
          <div class="w3-row">
            <div class="w3-col m8 s12">
              <p><button class="w3-button w3-padding-large w3-white w3-border"><%= form.submit %></button></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
<hr>
    <div class="w3-margin">
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border">
                            <%= link_to "BACK TO ARTICLES", articles_path(@articles) %></button></p>
        </div>
      </div>
    </div>
  <!-- END Form -->
  </div>
<!-- END GRID -->
</div><br>
